#Docs: https://www.appveyor.com/docs/appveyor-yml/

#https://github.com/vasole/fisx/blob/master/appveyor.yml
#https://github.com/sdispater/poetry/blob/master/.appveyor.yml
#https://github.com/sdispater/pendulum/blob/master/appveyor.yml

#branches:
#  # whitelist
#  only:
#    - master

image: Visual Studio 2017
shallow_clone: true
environment:
  matrix:
    # For Python versions available on Appveyor, see
    # https://www.appveyor.com/docs/windows-images-software/ or
    # https://www.appveyor.com/docs/linux-images-software/
    - pydir: 'C:\Python36'
    - pydir: 'C:\Python37-x64'
  global:
    py: '%pydir%\python.exe'
    APPVEYOR_SAVE_CACHE_ON_ERROR: true


cache:
  - '%LOCALAPPDATA%\pypoetry\Cache -> .appveyor\clear-caches'
  - '%USERPROFILE%\.poetry -> .appveyor\clear-caches'
  # \cache\repositories\pypi\
  # \virtualenvs\xyz-py3.x\

install:
  # needed? to fix `appveyor` command
  - 'set PATH=C:\Program Files\AppVeyor\BuildAgent\;%PATH%'

  - 'curl -sSL https://raw.githubusercontent.com/sdispater/poetry/master/get-poetry.py | %py%'
  - 'set PATH=%USERPROFILE%\.poetry\bin;%PATH%'

  # Prevents: "The current Python version (2.7.15) is not supported by the project (^3.6)"
  - 'set PATH=%pydir%;%pydir%\bin;%pydir%\Scripts;%PATH%'
  - 'poetry install -v'  # don't pass --no-dev

build_script:
  - exit

test_script:
  - 'poetry run pytest --tb=short --cov=corrscope'
  - 'poetry run codecov'

after_test:
  - 'if not "%pydir%"=="C:\Python37-x64" appveyor exit'
  # Running pyinstaller is much faster on x64 I think,
  # but the resulting files are 64-bit only.
  - 'poetry build'
  - 'poetry run pyinstaller corrscope.spec -y'

artifacts:
  - path: 'dist\*'
