# https://github.com/sdispater/poetry/issues/826 "conflict with the backend dependencies" with pip 19
# This bug seems to be fixed, on the latest versions of pip and poetry.
# But keep this commented just in case.

#[build-system]
#requires = ["poetry>=0.12"]
#build-backend = "poetry.masonry.api"

[tool.poetry]
name = "corrscope"
version = "0.6.2-pre"
description = "Python program to render wave files into oscilloscope views, featuring advanced correlation-based triggering algorithm"
license = "BSD-2-Clause"
authors = ["nyanpasu64 <nyanpasu64@tuta.io>"]
# maintainers =
readme = "README.md"
# homepage =
repository = "https://github.com/corrscope/corrscope/"
documentation = "https://corrscope.github.io/corrscope/"

[tool.poetry.dependencies]
python = "^3.6"
"ruamel.yaml" = "^0.16"
numpy = "^1.15"
click = "^7.0"
matplotlib = "^3.1"
attrs = "^18.2.0"
PyQt5 = "^5.11"
appdirs = "^1.4"

[tool.poetry.dev-dependencies]
pytest = "^4.0"
pytest_mock = "^1.10"
hypothesis = "^3.84"
delayed-assert = "^0.2.3"

pyinstaller = "^3.6"

# poetry fails to pick up pyinstaller's dependencies.
# https://github.com/python-poetry/poetry/issues/1431#issuecomment-571661982
# https://github.com/pyinstaller/pyinstaller/issues/4609 fixed in pyinstaller, but not released yet.
pywin32-ctypes = {version = ">=0.2.0", platform = "win32"}
pefile = {version = ">=2017.8.1", platform = "win32"}

coverage = "^4.5"
pytest-cov = "^2.6"
codecov = "^2.0"
pytest_cases = "^1.2"
black = {version = "^18.3-alpha.0", allow-prereleases = true}
colorspacious = "^1.1.2"

[tool.poetry.scripts]
corr = 'corrscope.cli:main'

[tool.black]
line-length = 88
py36 = true
exclude = 'utils/scipy/'
