# https://github.com/sdispater/poetry/issues/826 "conflict with the backend dependencies" with pip 19
# This bug seems to be fixed, on the latest versions of pip and poetry.
# But keep this commented just in case.

#[build-system]
#requires = ["poetry>=0.12"]
#build-backend = "poetry.masonry.api"

[tool.poetry]
name = "corrscope"
version = "0.7.1"
description = "Python program to render wave files into oscilloscope views, featuring advanced correlation-based triggering algorithm"
license = "BSD-2-Clause"
authors = ["nyanpasu64 <nyanpasu64@tuta.io>"]
# maintainers =
readme = "README.md"
# homepage =
repository = "https://github.com/corrscope/corrscope/"
documentation = "https://corrscope.github.io/corrscope/"

[tool.poetry.dependencies]
python = "^3.6.2"
"ruamel.yaml" = "^0.17"
numpy = "^1.15"
click = "^8.0.1"
matplotlib = "^3.1"
attrs = "^21.2.0"
PyQt5 = "^5.15.4"
appdirs = "^1.4.4"
atomicwrites = "^1.4.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
pytest-mock = "^3.6.1"
hypothesis = "^6.14.0"
delayed-assert = "^0.3.5"

pyinstaller = "^4.3"

pefile = {version = "^2021.5.24", platform = "win32"}

coverage = "^5.5"
pytest-cov = "^2.12.1"
codecov = "^2.1.11"
pytest-cases = "^3.6.1"
black = "^21.6b0"

[tool.poetry.scripts]
corr = 'corrscope.cli:main'

[tool.black]
line-length = 88
py36 = true
exclude = 'utils/scipy/'
